mpo-book-preview {
  margin-bottom: 0.5em;
  border:  solid 1px #888888;
}

.search-form{
  text-align: center;
}

.masonry { /* Masonry container */
  column-count: 4;
  column-gap: 0.5em;
}

.item { /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  width: 100%;
  position: relative;
}
