
.masonry { /* Masonry container */
  column-count: 4;
  column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  margin: 0.5em;
  width: 100%;
  position: relative;
}

.example-full-width {
  width: 100%;
}

.item .delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
